@import "tailwindcss";




 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* .light{
    background: #cbcbcb;
    color: black;
}


.dark{
    background-color: rgb(24, 24, 24);
    color: aliceblue;
} */
